<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<script>
function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

  if(getCookie("name")!==undefined){
  }
</script>


  
  <form class="login" method="post" action="/login">
    <label>Yorum</label>
  <input type="text" name="name" class="input" placeholder="name"/>
  <input type="text" name="surname" class="input" placeholder="yorumun"/>
  <input type="submit"  value="gönder" class="btn-primary" placeholder="name"/>

    
  </form>

  
<style>



body{

  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.login label{
  margin: 8px;
  text-align: center;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: 700
}


.login{
  margin: 8px;
  border-radius: 2px;
  outline: none;
  border: 2px solid lightgray;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.login .input{
  
  margin: 8px;
  border-radius: 2px;
  outline: none;
  border: 2px solid lightgray;
  padding: 12px 10px;
  transition: border 0.3s ease;
}
.login .input:hover, .login .input:focus{
border: 2px solid #7d7d7d;
}

.btn-primary{
  background-color: blue;
  padding: 12px 20px;
  color: white;
  font-weight: 700;
  border: none;
  margin: 8px;
  transition:background-color 0.5s ease;
  cursor: pointer
}
.btn-primary:hover{
  background-color: #2a2aaa;
}






</style>
  
</body>
</html>


